<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
    <string>SML Go necesita tu ubicación para registrar la posición de los clientes y trazar rutas.</string>

    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>SML Go necesita tu ubicación para el seguimiento de rutas en campo.</string>
</dict>
</plist>